* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: serif;
  font-size: 16px;
  line-height: 20px;
  background: #000; }

.body_section .absolute_sec {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }
  .body_section .absolute_sec h1 {
    background: #fff;
    color: #b4b2b2;
    margin: 0 15px;
    height: 60px;
    padding: 0 2rem; }

.body_section .navbar {
  background: #062389;
  position: sticky;
  z-index: 20;
  margin-top: 60px;
  top: 0; }
  @media (max-width: 576px) {
    .body_section .navbar .navbar-nav {
      height: 85vh; } }
  .body_section .navbar .nav-item {
    background: #062389;
    padding: 0 1rem; }
    .body_section .navbar .nav-item .nav-link {
      min-width: 150px;
      position: relative; }
      .body_section .navbar .nav-item .nav-link::after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 40%;
        background: #ffffff6b; }
        @media (max-width: 576px) {
          .body_section .navbar .nav-item .nav-link::after {
            display: none; } }
      .body_section .navbar .nav-item .nav-link .nav_content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
        @media (max-width: 576px) {
          .body_section .navbar .nav-item .nav-link .nav_content {
            flex-direction: row;
            justify-content: flex-start;
            height: auto; }
            .body_section .navbar .nav-item .nav-link .nav_content img {
              margin: 0 1rem; } }
      .body_section .navbar .nav-item .nav-link h3 {
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase; }
    .body_section .navbar .nav-item:last-child .nav-link::after {
      display: none; }

.body_section .Product_section {
  background: #fb8d5a;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: translateY(-150%);
  transition: all 0.5s ease-in-out; }
  .body_section .Product_section.show {
    opacity: 1;
    transform: translateY(0%); }
  .body_section .Product_section .product_box {
    background: #fff;
    width: 95%;
    margin: 2rem 0;
    padding: 50px; }
    .body_section .Product_section .product_box::after {
      content: '';
      display: block;
      position: absolute;
      top: 20px;
      left: 27%;
      width: 30px;
      height: 30px;
      background: #fff;
      transform: rotate(45deg); }
      @media (max-width: 576px) {
        .body_section .Product_section .product_box::after {
          display: none; } }
    .body_section .Product_section .product_box .item_img {
      min-height: 150px; }
